.breadcrumb {
  margin: 0 1.5rem;

  &.is-large {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    opacity: 0.7;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  ul {
    align-items: center;
  }

  li.is-active a {
    opacity: 1;
  }

  dl {
    margin-top: -18px;

    dd {
      margin: -4px 0px;
    }

    dt {
      font-size: small;
      font-weight: lighter;
      margin-bottom: -7px;
    }
  }
}
